header, footer{
    background-color: lightcyan;
    font-weight: 700;
    text-align: center;
}

header{
    font-size: 30pt;
    margin-bottom: 10vh;
}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#gamefield{
    background-color: lightcyan;
    border-collapse: collapse;
    box-shadow: 9px 10px 29px 0px rgba(0,0,0,0.75);
}

#gamefield, td{
    border: black 1pt solid;
    padding: 4vw;
}

#player1, #player2{
    padding: 5vw;
    font-size: 20pt;
    font-weight: 600;
}

#restartBtn{
    margin: auto;
    outline: none;
    border: 1px black solid;
    padding: 20px;
    background-color: lightcyan;
    border-radius: 1rem;
    box-shadow: 9px 10px 29px 0px rgba(0,0,0,0.75);
}

.selected{
    text-decoration: underline;
}

footer{
    margin-top: 25vh;
}